################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Python
################################
__pycache__/
*.pyc
*.pyo
*.pyd

################################
# Virtual Env
################################
.venv/
venv/
env/

################################
# IDE
################################
.vscode/
.idea/

################################
# Logs & Training Outputs
################################
logs/
runs/
outputs/
wandb/

################################
# Model Weights / Checkpoints
################################
*.pt
*.pth
*.ckpt
*.onnx

################################
# Large Temp Files
################################
*.npy
*.npz
*.h5
*.pkl

################################
# Data (VERY IMPORTANT)
################################

# 保留目录结构，但忽略真实内容
data/photo/*
!data/photo/.gitkeep
data/label/*
!data/label/.gitkeep
evaluation/*
file/*
log/*